In [37]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt

In [38]:
data=pd.read_csv(r"C:\Users\murali\Downloads\customer_churn.csv")

In [39]:
data.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [40]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7043 non-null   object
 20  Churn             7043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB

check for imbalance

In [41]:
data['Churn'].value_counts()

No     5174
Yes    1869
Name: Churn, dtype: int64

In [42]:
data.drop(columns=['customerID'],axis=1,inplace=True)

In [43]:
for col in data.columns:
    print(f"\nColumn: {col}")
    print(data[col].value_counts())

Column: gender
Male      3555
Female    3488
Name: gender, dtype: int64

Column: SeniorCitizen
0    5901
1    1142
Name: SeniorCitizen, dtype: int64

Column: Partner
No     3641
Yes    3402
Name: Partner, dtype: int64

Column: Dependents
No     4933
Yes    2110
Name: Dependents, dtype: int64

Column: tenure
1     613
72    362
2     238
3     200
4     176
     ...
28     57
39     56
44     51
36     50
0      11
Name: tenure, Length: 73, dtype: int64

Column: PhoneService
Yes    6361
No      682
Name: PhoneService, dtype: int64

Column: MultipleLines
No                  3390
Yes                 2971
No phone service     682
Name: MultipleLines, dtype: int64

Column: InternetService
Fiber optic    3096
DSL            2421
No             1526
Name: InternetService, dtype: int64

Column: OnlineSecurity
No                     3498
Yes                    2019
No internet service    1526
Name: OnlineSecurity, dtype: int64

Column: OnlineBackup
No                     3088
Yes                    2429
No internet service    1526
Name: OnlineBackup, dtype: int64

Column: DeviceProtection
No                     3095
Yes                    2422
No internet service    1526
Name: DeviceProtection, dtype: int64

Column: TechSupport
No                     3473
Yes                    2044
No internet service    1526
Name: TechSupport, dtype: int64

Column: StreamingTV
No                     2810
Yes                    2707
No internet service    1526
Name: StreamingTV, dtype: int64

Column: StreamingMovies
No                     2785
Yes                    2732
No internet service    1526
Name: StreamingMovies, dtype: int64

Column: Contract
Month-to-month    3875
Two year          1695
One year          1473
Name: Contract, dtype: int64

Column: PaperlessBilling
Yes    4171
No     2872
Name: PaperlessBilling, dtype: int64

Column: PaymentMethod
Electronic check             2365
Mailed check                 1612
Bank transfer (automatic)    1544
Credit card (automatic)      1522
Name: PaymentMethod, dtype: int64

Column: MonthlyCharges
20.05     61
19.85     45
19.95     44
19.90     44
20.00     43
          ..
23.65      1
114.70     1
43.65      1
87.80      1
78.70      1
Name: MonthlyCharges, Length: 1585, dtype: int64

Column: TotalCharges
          11
20.2      11
19.75      9
20.05      8
19.9       8
          ..
6849.4     1
692.35     1
130.15     1
3211.9     1
6844.5     1
Name: TotalCharges, Length: 6531, dtype: int64

Column: Churn
No     5174
Yes    1869
Name: Churn, dtype: int64

In [44]:
data.replace('No internet service','No',inplace=True)
data.replace('No phone service','No',inplace=True)

In [45]:
data.replace({'Yes':1,'No':0},inplace=True)

In [46]:
data

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,Female,0,1,0,1,0,0,DSL,0,1,0,0,0,0,Month-to-month,1,Electronic check,29.85,29.85,0
1,Male,0,0,0,34,1,0,DSL,1,0,1,0,0,0,One year,0,Mailed check,56.95,1889.5,0
2,Male,0,0,0,2,1,0,DSL,1,1,0,0,0,0,Month-to-month,1,Mailed check,53.85,108.15,1
3,Male,0,0,0,45,0,0,DSL,1,0,1,1,0,0,One year,0,Bank transfer (automatic),42.30,1840.75,0
4,Female,0,0,0,2,1,0,Fiber optic,0,0,0,0,0,0,Month-to-month,1,Electronic check,70.70,151.65,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,Male,0,1,1,24,1,1,DSL,1,0,1,1,1,1,One year,1,Mailed check,84.80,1990.5,0
7039,Female,0,1,1,72,1,1,Fiber optic,0,1,1,0,1,1,One year,1,Credit card (automatic),103.20,7362.9,0
7040,Female,0,1,1,11,0,0,DSL,1,0,0,0,0,0,Month-to-month,1,Electronic check,29.60,346.45,0
7041,Male,1,1,0,4,1,1,Fiber optic,0,0,0,0,0,0,Month-to-month,1,Mailed check,74.40,306.6,1
7042,Male,0,0,0,66,1,0,Fiber optic,1,0,1,1,1,1,Two year,1,Bank transfer (automatic),105.65,6844.5,0

In [47]:
data['TotalCharges'] = pd.to_numeric(data['TotalCharges'], errors='coerce')

In [48]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   gender            7043 non-null   object
 1   SeniorCitizen     7043 non-null   int64
 2   Partner           7043 non-null   int64
 3   Dependents        7043 non-null   int64
 4   tenure            7043 non-null   int64
 5   PhoneService      7043 non-null   int64
 6   MultipleLines     7043 non-null   int64
 7   InternetService   7043 non-null   object
 8   OnlineSecurity    7043 non-null   int64
 9   OnlineBackup      7043 non-null   int64
 10  DeviceProtection  7043 non-null   int64
 11  TechSupport       7043 non-null   int64
 12  StreamingTV       7043 non-null   int64
 13  StreamingMovies   7043 non-null   int64
 14  Contract          7043 non-null   object
 15  PaperlessBilling  7043 non-null   int64
 16  PaymentMethod     7043 non-null   object
 17  MonthlyCharges    7043 non-null   float64
 18  TotalCharges      7032 non-null   float64
 19  Churn             7043 non-null   int64
dtypes: float64(2), int64(14), object(4)
memory usage: 1.1+ MB

In [49]:
data['gender'].replace({"Male":1,"Female":0},inplace=True)

In [52]:
data=pd.get_dummies(data,columns=['InternetService','Contract','PaymentMethod'],drop_first=True)

In [53]:
data

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,OnlineSecurity,OnlineBackup,DeviceProtection,...,MonthlyCharges,TotalCharges,Churn,InternetService_DSL,InternetService_Fiber optic,Contract_One year,Contract_Two year,PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check
0,0,0,1,0,1,0,0,0,1,0,...,29.85,29.85,0,1,0,0,0,0,1,0
1,1,0,0,0,34,1,0,1,0,1,...,56.95,1889.50,0,1,0,1,0,0,0,1
2,1,0,0,0,2,1,0,1,1,0,...,53.85,108.15,1,1,0,0,0,0,0,1
3,1,0,0,0,45,0,0,1,0,1,...,42.30,1840.75,0,1,0,1,0,0,0,0
4,0,0,0,0,2,1,0,0,0,0,...,70.70,151.65,1,0,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,1,0,1,1,24,1,1,1,0,1,...,84.80,1990.50,0,1,0,1,0,0,0,1
7039,0,0,1,1,72,1,1,0,1,1,...,103.20,7362.90,0,0,1,1,0,1,0,0
7040,0,0,1,1,11,0,0,1,0,0,...,29.60,346.45,0,1,0,0,0,0,1,0
7041,1,1,1,0,4,1,1,0,0,0,...,74.40,306.60,1,0,1,0,0,0,0,1
7042,1,0,0,0,66,1,0,1,0,1,...,105.65,6844.50,0,0,1,0,1,0,0,0

In [54]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 24 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   gender                                 7043 non-null   int64
 1   SeniorCitizen                          7043 non-null   int64
 2   Partner                                7043 non-null   int64
 3   Dependents                             7043 non-null   int64
 4   tenure                                 7043 non-null   int64
 5   PhoneService                           7043 non-null   int64
 6   MultipleLines                          7043 non-null   int64
 7   OnlineSecurity                         7043 non-null   int64
 8   OnlineBackup                           7043 non-null   int64
 9   DeviceProtection                       7043 non-null   int64
 10  TechSupport                            7043 non-null   int64
 11  StreamingTV                            7043 non-null   int64
 12  StreamingMovies                        7043 non-null   int64
 13  PaperlessBilling                       7043 non-null   int64
 14  MonthlyCharges                         7043 non-null   float64
 15  TotalCharges                           7032 non-null   float64
 16  Churn                                  7043 non-null   int64
 17  InternetService_DSL                    7043 non-null   uint8
 18  InternetService_Fiber optic            7043 non-null   uint8
 19  Contract_One year                      7043 non-null   uint8
 20  Contract_Two year                      7043 non-null   uint8
 21  PaymentMethod_Credit card (automatic)  7043 non-null   uint8
 22  PaymentMethod_Electronic check         7043 non-null   uint8
 23  PaymentMethod_Mailed check             7043 non-null   uint8
dtypes: float64(2), int64(15), uint8(7)
memory usage: 983.7 KB

tenure,monthlycharges and totalcharges needs to be scaled

In [56]:
from sklearn.preprocessing import MinMaxScaler
scaler=MinMaxScaler()

cols=['tenure','MonthlyCharges','TotalCharges']
data[cols] = scaler.fit_transform(data[cols])

In [57]:
data

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,OnlineSecurity,OnlineBackup,DeviceProtection,...,MonthlyCharges,TotalCharges,Churn,InternetService_DSL,InternetService_Fiber optic,Contract_One year,Contract_Two year,PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check
0,0,0,1,0,0.013889,0,0,0,1,0,...,0.115423,0.001275,0,1,0,0,0,0,1,0
1,1,0,0,0,0.472222,1,0,1,0,1,...,0.385075,0.215867,0,1,0,1,0,0,0,1
2,1,0,0,0,0.027778,1,0,1,1,0,...,0.354229,0.010310,1,1,0,0,0,0,0,1
3,1,0,0,0,0.625000,0,0,1,0,1,...,0.239303,0.210241,0,1,0,1,0,0,0,0
4,0,0,0,0,0.027778,1,0,0,0,0,...,0.521891,0.015330,1,0,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,1,0,1,1,0.333333,1,1,1,0,1,...,0.662189,0.227521,0,1,0,1,0,0,0,1
7039,0,0,1,1,1.000000,1,1,0,1,1,...,0.845274,0.847461,0,0,1,1,0,1,0,0
7040,0,0,1,1,0.152778,0,0,1,0,0,...,0.112935,0.037809,0,1,0,0,0,0,1,0
7041,1,1,1,0,0.055556,1,1,0,0,0,...,0.558706,0.033210,1,0,1,0,0,0,0,1
7042,1,0,0,0,0.916667,1,0,1,0,1,...,0.869652,0.787641,0,0,1,0,1,0,0,0

now imbalance needs to handled

In [210]:
minority_class = data[data['Churn'] == 1]  # or == 'Yes' based on your encoding
minority=minority_class.sample(n=4000,replace=True)

In [211]:
minority['Churn'].value_counts()

1    4000
Name: Churn, dtype: int64

In [212]:
majorrity_class=data[data['Churn']==0]
majority=majorrity_class.sample(n=4000)

In [213]:
majority['Churn'].value_counts()

0    4000
Name: Churn, dtype: int64

In [214]:
final=pd.concat([majority,minority])

In [215]:
final.reset_index(drop=True)

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,OnlineSecurity,OnlineBackup,DeviceProtection,...,MonthlyCharges,TotalCharges,Churn,InternetService_DSL,InternetService_Fiber optic,Contract_One year,Contract_Two year,PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check
0,1,0,1,1,0.250000,1,0,1,0,1,...,0.646766,0.183747,0,1,0,0,0,0,1,0
1,0,1,1,0,0.972222,1,1,0,0,0,...,0.571144,0.622271,0,0,1,0,1,1,0,0
2,1,0,1,1,0.013889,1,0,0,0,0,...,0.514428,0.005902,0,0,1,0,0,1,0,0
3,1,0,1,1,0.986111,1,1,0,0,0,...,0.056219,0.185507,0,0,0,0,1,1,0,0
4,1,0,1,0,0.958333,1,1,1,1,1,...,0.885075,0.842176,0,0,1,1,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7995,1,0,1,1,0.305556,1,0,1,0,1,...,0.490050,0.176004,1,1,0,1,0,0,0,0
7996,1,1,0,0,0.291667,1,0,0,0,1,...,0.415920,0.140474,1,1,0,0,0,0,0,0
7997,0,1,1,1,0.430556,1,0,0,0,1,...,0.802488,0.333776,1,0,1,0,0,0,1,0
7998,1,0,0,0,0.013889,1,0,0,0,0,...,0.604975,0.006952,1,0,1,0,0,0,1,0
7999,0,1,1,0,0.708333,1,1,1,0,0,...,0.589552,0.437174,1,0,1,0,0,0,1,0

In [216]:
X=final.drop(['Churn'],axis=1)
y=final['Churn']

In [217]:
X.shape,y.shape

((8000, 23), (8000,))

In [218]:
from sklearn.model_selection import train_test_split 
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3)

In [219]:
X_train.shape

(5600, 23)

In [220]:
X_test.shape

(2400, 23)

In [221]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense,Dropout

In [222]:
model=Sequential([
    Dense(100, input_shape=(23,), activation='relu'),
    Dropout(rate=0.1),
    Dense(100,activation='relu'),
    Dense(1,activation='sigmoid')
])

In [223]:
model.summary()

Model: "sequential_10"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_30 (Dense)            (None, 100)               2400

 dropout_2 (Dropout)         (None, 100)               0

 dense_31 (Dense)            (None, 100)               10100

 dense_32 (Dense)            (None, 1)                 101

=================================================================
Total params: 12601 (49.22 KB)
Trainable params: 12601 (49.22 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [224]:
model.compile(optimizer='adam',loss='binary_crossentropy',metrics=['accuracy'])

just train the model for small epochs

In [227]:
model.fit(X_train,y_train,epochs=7)

Epoch 1/7
175/175 [==============================] - 1s 4ms/step - loss: 0.6932 - accuracy: 0.5068
Epoch 2/7
175/175 [==============================] - 1s 4ms/step - loss: 0.6931 - accuracy: 0.5068
Epoch 3/7
175/175 [==============================] - 1s 4ms/step - loss: 0.6932 - accuracy: 0.5068
Epoch 4/7
175/175 [==============================] - 1s 4ms/step - loss: 0.6931 - accuracy: 0.5004
Epoch 5/7
175/175 [==============================] - 1s 4ms/step - loss: 0.6931 - accuracy: 0.5068
Epoch 6/7
175/175 [==============================] - 1s 4ms/step - loss: 0.6931 - accuracy: 0.5068
Epoch 7/7
175/175 [==============================] - 1s 6ms/step - loss: 0.6931 - accuracy: 0.5068

In [228]:
model.evaluate(X_test,y_test)

75/75 [==============================] - 1s 3ms/step - loss: 0.6939 - accuracy: 0.4842

[0.693915069103241, 0.4841666519641876]

model accuracy is just 48% because of the oversampling technique

In [233]:
yp = model.predict(X_test)

75/75 [==============================] - 0s 3ms/step